---
import MainLayout from '../layouts/MainLayout.astro';
import Subheader from '../components/Subheader.astro';
import Card from '../components/Card.astro';
---

<MainLayout>
    <div class="grid-container gap-4">
        <Subheader />
        <div class="main">
			<Card 
				title="Super Cool Project"
				body="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore."
			/>

			<Card 
				title="Less Cool Project"
				body="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore."
			/>

			<Card 
				title="Impossible App"
				body="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore."
			/>

			<Card 
				title="Easy Peasy App"
				body="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore."
			/>

			<Card 
				title="Ad Blocker"
				body="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore."
			/>

			<Card 
				title="Money Maker"
				body="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore."
			/>
        </div>
        <div class="panel p-4 m-2">
			
        </div>
    </div>
</MainLayout>

<style>
	.grid-container {
		display: grid;
		grid-template-columns: 2fr 1fr;
		grid-template-rows: auto 1fr;
		grid-template-areas:
			'header panel'
			'main panel';
		height: calc(100vh - 4rem);
		padding: 0 0 0 14rem;
        width: calc(100vw - 1.2rem);
	}

	.panel{
		grid-area: panel;
		display: grid;
		grid-template-rows: auto 1fr;
	}

	.main{
		grid-area: main;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		gap: 1rem;
	}
</style>