---
import Backdrop from '../components/Backdrop.astro'
import ThemeIcon from '../components/ThemeIcon.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Adin Dashboard</title>
	</head>
	<body>
		<ThemeIcon />
		<Backdrop />
		<h1>Adin Dashboard</h1>
		<p>Coming soon...</p>
	</body>
</html>
