---
const {title, body} = Astro.props;
---

<li class="card-grid grid-cols-1 bg-white/50 dark:bg-gray-800/50 rounded-lg shadow-lg p-4 h-48 border-l-8 border-l-cyan-500 dark:border-l-teal-900">
    <h2 class="text-md font-bold">{title}</h2>
    <p class="text-sm card-body text-gray-500">{body}</p>
    <div class="grid grid-flow-col justify-items-end">
        <a href="#" class="btn btn-primary">
<?xml version="1.0"?><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="24px" height="24px">    <path d="M 12 0.98828125 L 8.6015625 7.875 L 1 8.9804688 L 6.5 14.341797 L 5.2011719 21.910156 L 12 18.337891 L 18.798828 21.910156 L 17.5 14.341797 L 23 8.9804688 L 15.398438 7.8769531 L 12 0.98828125 z M 12 4.3769531 L 14.054688 8.5390625 L 14.402344 9.2460938 L 15.183594 9.359375 L 19.775391 10.025391 L 16.451172 13.265625 L 15.886719 13.816406 L 16.019531 14.59375 L 16.804688 19.167969 L 12.697266 17.007812 L 12 16.642578 L 11.302734 17.009766 L 7.1933594 19.169922 L 7.9785156 14.595703 L 8.1113281 13.818359 L 7.546875 13.267578 L 4.2226562 10.027344 L 8.8164062 9.359375 L 9.5976562 9.2460938 L 9.9453125 8.5390625 L 12 4.3769531 z M 11 9 L 11 11 L 9 11 L 9 13 L 11 13 L 11 15 L 13 15 L 13 13 L 15 13 L 15 11 L 13 11 L 13 9 L 11 9 z"/></svg>
        </a>
        <a href="#" class="btn btn-primary">
<?xml version="1.0"?><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="24px" height="24px">    <path d="M 12.027344 2 C 11.699344 2 11.392078 2.1616406 11.205078 2.4316406 L 6.6679688 9 L 2.0019531 9 C 1.6889531 9 1.3950781 9.1455313 1.2050781 9.3945312 C 1.0170781 9.6425312 0.95315625 9.964625 1.0351562 10.265625 L 3.5957031 19.53125 C 3.8347031 20.39525 4.6274375 21 5.5234375 21 L 12 21 L 12 19 L 5.5234375 19 L 3.3144531 11 L 16.8125 11 L 20.685547 11 L 20.410156 12 L 22.484375 12 L 22.964844 10.265625 C 23.046844 9.964625 22.982922 9.6425313 22.794922 9.3945312 C 22.604922 9.1455313 22.311047 9 21.998047 9 L 17.339844 9 L 12.853516 2.4355469 C 12.667516 2.1635469 12.36025 2.001 12.03125 2 L 12.027344 2 z M 12.023438 4.765625 L 14.916016 9 L 9.0976562 9 L 12.023438 4.765625 z M 18 14 L 18 18 L 14 18 L 14 20 L 18 20 L 18 24 L 20 24 L 20 20 L 24 20 L 24 18 L 20 18 L 20 14 L 18 14 z"/></svg>
        </a>
        <a href="#" class="btn btn-primary">
<svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="24px" height="24px"><path d="M 13 3 C 10.25 3 8 5.25 8 8 C 8 10.40625 9.726563 12.4375 12 12.90625 L 12 37.09375 C 9.726563 37.5625 8 39.59375 8 42 C 8 44.75 10.25 47 13 47 C 15.75 47 18 44.75 18 42 C 18 39.605469 16.289063 37.574219 14.03125 37.09375 C 14.21875 33.695313 15.445313 31.957031 17.28125 30.78125 C 19.28125 29.503906 22.15625 28.964844 25.15625 28.46875 C 28.15625 27.972656 31.28125 27.503906 33.78125 25.90625 C 36.105469 24.421875 37.714844 21.859375 37.9375 17.90625 C 40.238281 17.460938 42 15.425781 42 13 C 42 10.25 39.75 8 37 8 C 34.25 8 32 10.25 32 13 C 32 15.394531 33.710938 17.425781 35.96875 17.90625 C 35.78125 21.300781 34.554688 23.046875 32.71875 24.21875 C 30.71875 25.492188 27.84375 26.003906 24.84375 26.5 C 21.84375 26.996094 18.71875 27.496094 16.21875 29.09375 C 15.375 29.632813 14.628906 30.324219 14 31.15625 L 14 12.90625 C 16.273438 12.4375 18 10.40625 18 8 C 18 5.25 15.75 3 13 3 Z M 13 5 C 14.667969 5 16 6.332031 16 8 C 16 9.667969 14.667969 11 13 11 C 11.332031 11 10 9.667969 10 8 C 10 6.332031 11.332031 5 13 5 Z M 37 10 C 38.667969 10 40 11.332031 40 13 C 40 14.667969 38.667969 16 37 16 C 35.332031 16 34 14.667969 34 13 C 34 11.332031 35.332031 10 37 10 Z M 13 39 C 14.667969 39 16 40.332031 16 42 C 16 43.667969 14.667969 45 13 45 C 11.332031 45 10 43.667969 10 42 C 10 40.332031 11.332031 39 13 39 Z"/></svg>
        </a>
    </div>
</li>

<style>
    .card-grid {
        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-gap: 0.2rem;
    }

    .card-body{
        max-width: 30ch;
    }
</style>