---

---

<div class="sidebar grid grid-cols-1 fixed font-semibold">
    <div class="sidebar-top grid grid-cols-1 place-content-start p-4 gap-5 bg-sky-300/10">

        <a href="#">
<svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 48 48" width="24px" height="24px"><path d="M39.5,43h-9c-1.381,0-2.5-1.119-2.5-2.5v-9c0-1.105-0.895-2-2-2h-4c-1.105,0-2,0.895-2,2v9c0,1.381-1.119,2.5-2.5,2.5h-9	C7.119,43,6,41.881,6,40.5V21.413c0-2.299,1.054-4.471,2.859-5.893L23.071,4.321c0.545-0.428,1.313-0.428,1.857,0L39.142,15.52	C40.947,16.942,42,19.113,42,21.411V40.5C42,41.881,40.881,43,39.5,43z"/></svg>
             Home
        </a>
        <a href="#">Profile</a>
        <a href="#">Messages</a>
        <a href="#">History</a>
        <a href="#">Tasks</a>
        <a href="#">Communities</a>
    </div>
    <div class="sidebar-bottom grid grid-cols-1 place-content-end p-4 gap-5 bg-sky-300/10">
        <a href="#">Settings</a>
        <a href="#">Support</a>
        <a href="#">Privacy</a>
</div>

<style>
    .sidebar {
        width: 200px;
        height: calc(100vh - 4rem);
        top: 4rem;
        left: 0;
        z-index: 100;
    }

    .sidebar-top a:hover, .sidebar-bottom a:hover {
        color: #7f9693;
    }
    
    a{
        display:flex;
        align-items:center;
        gap:0.2rem;
    }

    a:hover svg{
        fill:#7f9693;
    }
</style>