---

---

<div class="sidebar grid grid-cols-1 fixed font-bold">
    <div class="sidebar-top grid grid-cols-1 place-content-start p-4 gap-5 bg-sky-300/10">
        <a href="/">Home</a>
        <a href="/">Profile</a>
        <a href="/">Messages</a>
        <a href="/">History</a>
        <a href="/">Tasks</a>
        <a href="/">Communities</a>
    </div>
    <div class="sidebar-bottom grid grid-cols-1 place-content-end p-4 gap-5 bg-sky-300/10">
        <a href="/">Settings</a>
        <a href="/">Support</a>
        <a href="/">Privacy</a>
</div>

<style>
    .sidebar {
        width: 200px;
        height: calc(100vh - 4rem);
        top: 4rem;
        left: 0;
        z-index: 100;
    }

    .sidebar-top a:hover, .sidebar-bottom a:hover {
        color: #7f9693;
    }
</style>