---
import SidebarIcon from './SidebarIcon.astro';
---

<div class="sidebar grid grid-cols-1 fixed font-semibold">
    <div
        class="sidebar-top grid grid-cols-1 place-content-start p-4 gap-5 bg-sky-300/10"
    >
        <SidebarIcon 
            title="Home"
            d="M39.5,43h-9c-1.381,0-2.5-1.119-2.5-2.5v-9c0-1.105-0.895-2-2-2h-4c-1.105,0-2,0.895-2,2v9c0,1.381-1.119,2.5-2.5,2.5h-9	C7.119,43,6,41.881,6,40.5V21.413c0-2.299,1.054-4.471,2.859-5.893L23.071,4.321c0.545-0.428,1.313-0.428,1.857,0L39.142,15.52	C40.947,16.942,42,19.113,42,21.411V40.5C42,41.881,40.881,43,39.5,43z"
        />
        
        <SidebarIcon
            title="Profile"
            d="M36.5,6h-25C8.468,6,6,8.468,6,11.5v25c0,3.032,2.468,5.5,5.5,5.5h25c3.032,0,5.5-2.468,5.5-5.5v-25	C42,8.468,39.532,6,36.5,6z M24,13c2.761,0,5,2.239,5,5c0,2.761-2.239,5-5,5s-5-2.239-5-5C19,15.239,21.239,13,24,13z M33,28.538	C33,31.397,29.353,34,24,34s-9-2.603-9-5.462v-0.676C15,26.834,15.834,26,16.862,26h14.276C32.166,26,33,26.834,33,27.862V28.538z"
        />

        <SidebarIcon
            title="Messages"
            d="M 10.5 5 C 6.916 5 4 7.916 4 11.5 L 4 33.451172 C 4 34.413172 4.532625 35.28275 5.390625 35.71875 C 5.756625 35.90575 6.152875 35.996094 6.546875 35.996094 C 7.072875 35.996094 7.5950625 35.832766 8.0390625 35.509766 L 16.986328 29 L 29.5 29 C 33.084 29 36 26.084 36 22.5 L 36 11.5 C 36 7.916 33.084 5 29.5 5 L 10.5 5 z M 13.5 12 L 26.5 12 C 27.328 12 28 12.671 28 13.5 C 28 14.329 27.328 15 26.5 15 L 13.5 15 C 12.672 15 12 14.329 12 13.5 C 12 12.671 12.672 12 13.5 12 z M 38 14.025391 L 38 22.5 C 38 27.187 34.187 31 29.5 31 L 17.638672 31 L 12.761719 34.546875 C 13.855719 36.599875 16.017 38 18.5 38 L 31.013672 38 L 39.960938 44.507812 C 40.404938 44.831812 40.927125 44.996094 41.453125 44.996094 C 41.847125 44.996094 42.243375 44.903797 42.609375 44.716797 C 43.466375 44.280797 44 43.411219 44 42.449219 L 44 20.5 C 44 17.085 41.351 14.282391 38 14.025391 z M 13.5 19 L 23.5 19 C 24.328 19 25 19.671 25 20.5 C 25 21.329 24.328 22 23.5 22 L 13.5 22 C 12.672 22 12 21.329 12 20.5 C 12 19.671 12.672 19 13.5 19 z"
        />

        <SidebarIcon
            title="History"
            d="M 24 4 C 18.556727 4 13.611893 6.1873196 10 9.7285156 L 10 8 A 2.0002 2.0002 0 0 0 7.9707031 5.9726562 A 2.0002 2.0002 0 0 0 6 8 L 6 15 A 2.0002 2.0002 0 0 0 7.9199219 16.996094 A 2.0002 2.0002 0 0 0 8.8222656 17 L 15 17 A 2.0002 2.0002 0 1 0 15 13 L 12.388672 13 C 15.301199 9.9245705 19.415571 8 24 8 C 32.860089 8 40 15.139911 40 24 C 40 32.860089 32.860089 40 24 40 C 15.139911 40 8 32.860089 8 24 A 2.0002 2.0002 0 1 0 4 24 C 4 35.021911 12.978089 44 24 44 C 35.021911 44 44 35.021911 44 24 C 44 12.978089 35.021911 4 24 4 z M 23.970703 12.972656 A 2.0002 2.0002 0 0 0 22 15 L 22 26 A 2.0002 2.0002 0 0 0 24 28 L 31 28 A 2.0002 2.0002 0 1 0 31 24 L 26 24 L 26 15 A 2.0002 2.0002 0 0 0 23.970703 12.972656 z"
        />

        <SidebarIcon
            title="Tasks"
            d="M 16.041016 4.9804688 A 2.0002 2.0002 0 0 0 14.642578 5.53125 L 9.4511719 10.324219 L 7.3007812 8.4824219 A 2.0002 2.0002 0 1 0 4.6992188 11.517578 L 8.1992188 14.517578 A 2.0002 2.0002 0 0 0 10.857422 14.46875 L 17.357422 8.46875 A 2.0002 2.0002 0 0 0 16.041016 4.9804688 z M 22 8 A 2.0002 2.0002 0 1 0 22 12 L 42 12 A 2.0002 2.0002 0 1 0 42 8 L 22 8 z M 22 22 A 2.0002 2.0002 0 1 0 22 26 L 42 26 A 2.0002 2.0002 0 1 0 42 22 L 22 22 z M 22 36 A 2.0002 2.0002 0 1 0 22 40 L 42 40 A 2.0002 2.0002 0 1 0 42 36 L 22 36 z"
        />

        <SidebarIcon
            title="Communities"
            d="M24 6A6 6 0 1024 18 6 6 0 1024 6zM11 8A5 5 0 1011 18 5 5 0 1011 8zM37 8A5 5 0 1037 18 5 5 0 1037 8zM24 42c-4.962 0-9-4.038-9-9v-9.5c0-1.93 1.57-3.5 3.5-3.5h11c1.93 0 3.5 1.57 3.5 3.5V33C33 37.962 28.962 42 24 42zM13 33v-9.5c0-1.328.474-2.548 1.261-3.5H7.5C5.57 20 4 21.57 4 23.5V30c0 4.41 3.59 8 8 8 .71 0 1.4-.09 2.06-.27 0 0 .011-.005.02-.008C13.395 36.289 13 34.691 13 33zM35 33v-9.5c0-1.328-.474-2.548-1.261-3.5H40.5c1.93 0 3.5 1.57 3.5 3.5V30c0 4.41-3.59 8-8 8-.71 0-1.4-.09-2.06-.27 0 0-.011-.005-.02-.008C34.605 36.289 35 34.691 35 33z"
        />
    </div>
    <div
        class="sidebar-bottom grid grid-cols-1 place-content-end p-4 gap-5 bg-sky-300/10"
    >
        <a href="#">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 48 48"
                width="24px"
                height="24px"
                ><path
                    d="M39.139,26.282C38.426,25.759,38,24.919,38,24.034s0.426-1.725,1.138-2.247l3.294-2.415	c0.525-0.386,0.742-1.065,0.537-1.684c-0.848-2.548-2.189-4.872-3.987-6.909c-0.433-0.488-1.131-0.642-1.728-0.38l-3.709,1.631	c-0.808,0.356-1.749,0.305-2.516-0.138c-0.766-0.442-1.28-1.23-1.377-2.109l-0.446-4.072c-0.071-0.648-0.553-1.176-1.191-1.307	c-2.597-0.531-5.326-0.54-7.969-0.01c-0.642,0.129-1.125,0.657-1.196,1.308l-0.442,4.046c-0.097,0.88-0.611,1.668-1.379,2.11	c-0.766,0.442-1.704,0.495-2.515,0.138l-3.729-1.64c-0.592-0.262-1.292-0.11-1.725,0.377c-1.804,2.029-3.151,4.35-4.008,6.896	c-0.208,0.618,0.008,1.301,0.535,1.688l3.273,2.4C9.574,22.241,10,23.081,10,23.966s-0.426,1.725-1.138,2.247l-3.294,2.415	c-0.525,0.386-0.742,1.065-0.537,1.684c0.848,2.548,2.189,4.872,3.987,6.909c0.433,0.489,1.133,0.644,1.728,0.38l3.709-1.631	c0.808-0.356,1.748-0.305,2.516,0.138c0.766,0.442,1.28,1.23,1.377,2.109l0.446,4.072c0.071,0.648,0.553,1.176,1.191,1.307	C21.299,43.864,22.649,44,24,44c1.318,0,2.648-0.133,3.953-0.395c0.642-0.129,1.125-0.657,1.196-1.308l0.443-4.046	c0.097-0.88,0.611-1.668,1.379-2.11c0.766-0.441,1.705-0.493,2.515-0.138l3.729,1.64c0.594,0.263,1.292,0.111,1.725-0.377	c1.804-2.029,3.151-4.35,4.008-6.896c0.208-0.618-0.008-1.301-0.535-1.688L39.139,26.282z M24,31c-3.866,0-7-3.134-7-7s3.134-7,7-7	s7,3.134,7,7S27.866,31,24,31z"
                ></path></svg
            >
            Settings
        </a>
        <a href="#">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 48 48"
                width="24px"
                height="24px"
                ><path
                    d="M24,4C12.972,4,4,12.972,4,24s8.972,20,20,20s20-8.972,20-20S35.028,4,24,4z M24,36c-1.105,0-2-0.895-2-2	c0-1.105,0.895-2,2-2s2,0.895,2,2C26,35.105,25.105,36,24,36z M26.99,24.977c-0.992,0.773-1.49,1.161-1.49,2.523	c0,0.829-0.671,1.5-1.5,1.5s-1.5-0.671-1.5-1.5c0-2.828,1.529-4.019,2.646-4.889C26.222,21.772,27,21.166,27,19c0-1.654-1.346-3-3-3	s-3,1.346-3,3v0.5c0,0.829-0.671,1.5-1.5,1.5S18,20.329,18,19.5V19c0-3.309,2.691-6,6-6s6,2.691,6,6	C30,22.631,28.26,23.987,26.99,24.977z"
                ></path></svg
            >
            Support
        </a>
        <a href="#">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 48 48"
                width="24px"
                height="24px"
                ><path
                    d="M 24.048828 2 A 1.50015 1.50015 0 0 0 22.998047 2.3847656 C 22.998047 2.3847656 15.490168 9 6.5 9 A 1.50015 1.50015 0 0 0 5 10.5 L 5 22.759766 C 5 29.437814 8.0894135 40.426402 23.417969 46.882812 A 1.50015 1.50015 0 0 0 24.582031 46.882812 C 39.910586 40.426403 43 29.437814 43 22.759766 L 43 10.5 A 1.50015 1.50015 0 0 0 41.5 9 C 32.509832 9 25.001953 2.3847656 25.001953 2.3847656 A 1.50015 1.50015 0 0 0 24.048828 2 z M 24 12 C 27.31 12 30 14.69 30 18 L 30 20 C 31.65 20 33 21.35 33 23 L 33 31 C 33 32.65 31.65 34 30 34 L 18 34 C 16.35 34 15 32.65 15 31 L 15 23 C 15 21.35 16.35 20 18 20 L 18 18 C 18 14.69 20.69 12 24 12 z M 24 15 C 22.35 15 21 16.35 21 18 L 21 20 L 27 20 L 27 18 C 27 16.35 25.65 15 24 15 z M 24 24 A 3 3 0 0 0 24 30 A 3 3 0 0 0 24 24 z"
                ></path></svg
            >
            Privacy
        </a>
    </div>

    <style>
        .sidebar {
            width: 200px;
            height: calc(100vh - 4rem);
            top: 4rem;
            left: 0;
            z-index: 100;
        }

        .sidebar-top a:hover,
        .sidebar-bottom a:hover {
            color: #7f9693;
        }

        a {
            display: flex;
            align-items: center;
            gap: 0.2rem;
        }

        html.dark a {
            color: #f5fffe;
        }

        a:hover svg {
            fill: #7f9693;
        }

        html.dark a svg {
            fill: #f5fffe;
        }

        html.dark a:hover svg {
            fill: #7f9693;
        }
    </style>
</div>
