---

---

<div class="sidebar grid grid-cols-1 fixed">
    <div class="sidebar-top grid grid-cols-1">
        <a href="/">Home</a>
        <a href="/">Profile</a>
        <a href="/">Messages</a>
        <a href="/">History</a>
        <a href="/">Tasks</a>
        <a href="/">Communities</a>
    </div>
    <div class="sidebar-bottom grid grid-cols-1">
        <a href="/">Settings</a>
        <a href="/">Support</a>
        <a href="/">Privacy</a>
</div>

<style>
    .sidebar {
        grid-area: sidebar;
    }
</style>