---
import RadialMenu from './RadialMenu.astro';
import Searchbar from './Searchbar.astro';
---

<div class="subheader">
    <div class="heading p-2 flex justify-between m-2">
        <h2 class="text-lg font-bold">Projects</h2>
        <Searchbar />
        <RadialMenu />
    </div>
    
</div>

<style>
    .subheader {
        margin-top: 0.5rem;
        grid-area: header;
    }
</style>