---
const {src, tag, body} = Astro.props;
---

<div class="profile gap-2">
    <div class="profile-image">
        <img src={src} alt="Profile Image">
    </div>
    <div class="profile-text grid">
        <h2>{tag}</h2>
        <p>{body}</p>
    </div>
</div>

<style>
    .profile{
        display: grid;
        grid-template-columns: auto 1fr;
    }
</style>