---
import ThemeIcon from '../components/ThemeIcon.astro';

import '../styles/global.css';
---

<html lang="en" class="center">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Admin Dashboard</title>
	</head>
	<body>
		<ThemeIcon />
		<h1>Admin Dashboard</h1>
		<p>Coming soon...</p>
	</body>
</html>
